{
  "host": "dropit.deliveries.admin.co.il",
  "info": {
    "title": "DeliveriesManageAPI",
    "contact": {},
    "version": "0.01",
    "description": "Deliveries control system",
    "termsOfService": ""
  },
  "paths": {
    "/Deliveries/Daily/": {
      "get": {
        "tags": [
          "Deliveries"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/DeliveriesListResponse"
            },
            "description": "Status 200"
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "description": "Error Response"
          }
        },
        "parameters": [],
        "x-AuthType": [
          "None"
        ],
        "operationId": "DeliveriesDaily",
        "x-serviceID": 1,
        "x-methodName": "Daily",
        "x-serviceName": "Deliveries"
      }
    },
    "/Deliveries/Weekly/": {
      "get": {
        "tags": [
          "Deliveries"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/DeliveriesListResponse"
            },
            "description": "Status 200"
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "description": "Error Response"
          }
        },
        "parameters": [],
        "x-AuthType": [
          "None"
        ],
        "operationId": "DeliveriesWeekly",
        "x-serviceID": 1,
        "x-methodName": "Weekly",
        "x-serviceName": "Deliveries"
      }
    },
    "/Schedule/Timeslots/": {
      "post": {
        "tags": [
          "Schedule"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/TimeSlot"
            },
            "description": "Status 200"
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "description": "Error Response"
          }
        },
        "parameters": [],
        "x-AuthType": [
          "None"
        ],
        "operationId": "ScheduleTimeslots",
        "x-serviceID": 12,
        "x-methodName": "Timeslots",
        "x-serviceName": "Schedule"
      }
    },
    "/Users/BookDelivery/": {
      "post": {
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/DeliveriesBookResponse"
            },
            "description": "Status 200"
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "description": "Error Response"
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "DeliveriesBook",
            "schema": {
              "$ref": "#/definitions/DeliveriesBook"
            }
          }
        ],
        "x-AuthType": [
          "None"
        ],
        "operationId": "UsersBookDelivery",
        "x-serviceID": 15,
        "x-methodName": "BookDelivery",
        "x-serviceName": "Users"
      }
    },
    "/Users/ResolveAddress/{UserID}": {
      "post": {
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/FormattedAddressResponse"
            },
            "description": "Status 200"
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "description": "Error Response"
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "UserID",
            "type": "integer",
            "required": true
          }
        ],
        "x-AuthType": [
          "None"
        ],
        "operationId": "UsersResolveAddress",
        "x-serviceID": 15,
        "x-methodName": "ResolveAddress",
        "x-serviceName": "Users"
      }
    },
    "/Deliveries/Cancel/{DeliveryID}": {
      "post": {
        "tags": [
          "Deliveries"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/CancelResponse"
            },
            "description": "Status 200"
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "description": "Error Response"
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "DeliveryID",
            "type": "string",
            "required": true
          }
        ],
        "x-AuthType": [
          "None"
        ],
        "operationId": "DeliveriesCancel",
        "x-serviceID": 1,
        "x-methodName": "Cancel",
        "x-serviceName": "Deliveries"
      }
    },
    "/Deliveries/Complete/{DeliveryID}": {
      "post": {
        "tags": [
          "Deliveries"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/CompleteResponse"
            },
            "description": "Status 200"
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "description": "Error Response"
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "DeliveryID",
            "type": "integer",
            "required": true
          }
        ],
        "x-AuthType": [
          "None"
        ],
        "operationId": "DeliveriesComplete",
        "x-serviceID": 1,
        "x-methodName": "Complete",
        "x-serviceName": "Deliveries"
      }
    },
    "/Users/FormattedAddressUpdate/{UserID}/{FormattedAddress}": {
      "post": {
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/FormattedAddressResponse"
            },
            "description": "Status 200"
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/Error"
            },
            "description": "Error Response"
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "FormattedAddress",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "UserID",
            "type": "integer",
            "required": true
          }
        ],
        "x-AuthType": [
          "None"
        ],
        "operationId": "UsersFormattedAddressUpdate",
        "x-serviceID": 15,
        "x-methodName": "FormattedAddressUpdate",
        "x-serviceName": "Users"
      }
    }
  },
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "basePath": "/v1",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "definitions": {
    "Error": {
      "type": "object",
      "properties": {
        "Description": {
          "type": "string",
          "example": "bad username",
          "description": "General ui of the error"
        },
        "ReasonPhrase": {
          "type": "string",
          "example": "1, 4",
          "description": "Specific reason for the error"
        }
      }
    },
    "Users": {
      "type": "object",
      "properties": {
        "City": {
          "type": "string",
          "example": "Natanya"
        },
        "State": {
          "type": "string",
          "example": "Israel"
        },
        "Adress": {
          "type": "string",
          "example": "Netiv 4"
        },
        "UserID": {
          "type": "integer",
          "example": 1
        },
        "Address": {
          "type": "string",
          "example": "Netiv 4"
        },
        "Phone_1": {
          "type": "string",
          "example": "0505246951"
        },
        "Phone_2": {
          "type": "string"
        },
        "ZipCode": {
          "type": "string"
        },
        "CompanyName": {
          "type": "string",
          "example": "Telcom"
        },
        "ConsulName_2": {
          "type": "string",
          "example": "Danni"
        }
      }
    },
    "Response": {
      "type": "object",
      "required": [
        "Status"
      ],
      "properties": {
        "Status": {
          "type": "integer",
          "example": 200,
          "description": "The code associated with the result of the response"
        }
      }
    },
    "Schedule": {
      "type": "object",
      "properties": {
        "TimeSlotID": {
          "type": "integer",
          "example": 1
        },
        "DeliveriesCount": {
          "type": "integer",
          "example": 1
        }
      }
    },
    "TimeSlot": {
      "type": "object",
      "properties": {
        "Status": {
          "type": "integer",
          "example": 200
        },
        "TimeSlots": {
          "type": "string",
          "format": "date-time"
        },
        "Description": {
          "type": "string",
          "example": "OK"
        }
      }
    },
    "UsersAdd": {
      "type": "object",
      "properties": {
        "Status": {
          "type": "integer",
          "example": 200
        },
        "Description": {
          "type": "string",
          "example": "OK"
        }
      }
    },
    "UsersInfo": {
      "type": "object",
      "properties": {
        "Data": {
          "$ref": "#/definitions/Users"
        },
        "Status": {
          "type": "integer",
          "example": 200
        },
        "Description": {
          "type": "string",
          "example": "OK"
        }
      }
    },
    "UsersList": {
      "type": "object",
      "properties": {
        "Data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Users"
          }
        },
        "Status": {
          "type": "integer",
          "example": 200
        },
        "Description": {
          "type": "string",
          "example": "OK"
        }
      }
    },
    "Deliveries": {
      "type": "object",
      "properties": {
        "notes": {
          "type": "string"
        },
        "DeliveryID": {
          "type": "integer",
          "example": 1
        },
        "DeliverStatusID": {
          "type": "integer",
          "example": 1
        },
        "FormatedAddress": {
          "type": "object",
          "additionalProperties": true
        },
        "Scheduletimeslot": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "ScheduleAdd": {
      "type": "object",
      "properties": {
        "Status": {
          "type": "integer",
          "example": 200
        },
        "Description": {
          "type": "string",
          "example": "OK"
        }
      }
    },
    "UsersFilter": {
      "type": "object",
      "properties": {}
    },
    "UsersUpdate": {
      "type": "object",
      "properties": {
        "Status": {
          "type": "integer",
          "example": 200
        },
        "Description": {
          "type": "string",
          "example": "OK"
        }
      }
    },
    "ScheduleInfo": {
      "type": "object",
      "properties": {
        "Data": {
          "$ref": "#/definitions/Schedule"
        },
        "Status": {
          "type": "integer",
          "example": 200
        },
        "Description": {
          "type": "string",
          "example": "OK"
        }
      }
    },
    "ScheduleList": {
      "type": "object",
      "properties": {
        "Data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Schedule"
          }
        },
        "Status": {
          "type": "integer",
          "example": 200
        },
        "Description": {
          "type": "string",
          "example": "OK"
        }
      }
    },
    "DeliveriesAdd": {
      "type": "object",
      "properties": {
        "Status": {
          "type": "integer",
          "example": 200
        },
        "Description": {
          "type": "string",
          "example": "OK"
        }
      }
    },
    "CancelResponse": {
      "type": "object",
      "properties": {
        "Status": {
          "type": "integer",
          "example": 200
        },
        "Description": {
          "type": "string",
          "example": "Delivery XXX Canceled"
        }
      }
    },
    "DeliveriesBook": {
      "type": "object",
      "properties": {
        "User": {
          "type": "integer",
          "example": 1
        },
        "Timeslot": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "DeliveriesInfo": {
      "type": "object",
      "properties": {
        "Data": {
          "$ref": "#/definitions/Deliveries"
        },
        "Status": {
          "type": "integer",
          "example": 200
        },
        "Description": {
          "type": "string",
          "example": "OK"
        }
      }
    },
    "DeliveriesList": {
      "type": "object",
      "properties": {
        "Data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Deliveries"
          }
        },
        "Status": {
          "type": "integer",
          "example": 200
        },
        "Description": {
          "type": "string",
          "example": "OK"
        }
      }
    },
    "ScheduleFilter": {
      "type": "object",
      "properties": {}
    },
    "ScheduleUpdate": {
      "type": "object",
      "properties": {
        "Status": {
          "type": "integer",
          "example": 200
        },
        "Description": {
          "type": "string",
          "example": "OK"
        }
      }
    },
    "CompleteResponse": {
      "type": "object",
      "properties": {
        "Status": {
          "type": "integer",
          "example": 200
        },
        "Description": {
          "type": "string",
          "example": "Delivery XXX Complited"
        }
      }
    },
    "DeliveriesFilter": {
      "type": "object",
      "properties": {}
    },
    "DeliveriesUpdate": {
      "type": "object",
      "properties": {
        "Status": {
          "type": "integer",
          "example": 200
        },
        "Description": {
          "type": "string",
          "example": "OK"
        }
      }
    },
    "DeliveriesBookResponse": {
      "type": "object",
      "properties": {
        "Data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeliveriesBook"
          }
        },
        "Status": {
          "type": "integer",
          "example": 200
        },
        "Description": {
          "type": "string",
          "example": "OK"
        }
      }
    },
    "DeliveriesListResponse": {
      "type": "object",
      "properties": {
        "Data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Deliveries"
          }
        },
        "Status": {
          "type": "integer",
          "example": 200
        },
        "Description": {
          "type": "string",
          "example": "OK"
        }
      }
    },
    "ResolveAddressResponse": {
      "type": "object",
      "properties": {
        "Status": {
          "type": "integer",
          "example": 200
        },
        "Description": {
          "type": "string",
          "example": "UserID: XXX FormattedAddress Updated"
        }
      }
    },
    "FormattedAddressResponse": {
      "type": "object",
      "properties": {
        "Status": {
          "type": "integer",
          "example": 200
        },
        "Description": {
          "type": "string",
          "example": "UserID: XXX FormattedAddress Updated"
        }
      }
    }
  },
  "securityDefinitions": {}
}